:root{
	--light-text: #222430;
	--light-link: #008AD8;
	--light-bg: #f7f7f7;
	--dark-text: #f7f7f7;
	--dark-link: #bd93f9;
	--dark-bg: #222430;
}

.light {
	--bg-color: var(--light-bg);
	--text-color: var(--light-text);
	--link-color: var(--light-link);
}

.dark {
	--bg-color: var(--dark-bg);
	--text-color: var(--dark-text);
	--link-color: var(--dark-link);
}

body {
	text-align: center;
	color: var(--text-color);
	background: var(--bg-color);
}

table, th, td {
	margin-left: auto;
	margin-right: auto;
	border:1px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

.dark {
	
}